:root {
  --main-background-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --team-background-color: #F5F4FA;
  --btn-order-background-color: #2196F3;
  --btn-order-active-background-color: #188CE8;
  --section-order-background-color: #C4C4C4;
  --overlay-activity-background-color: rgba(47, 48, 58, 0.8);
  --overlay-background-color: rgba(0, 0, 0, 0.2);
  --main-logo-color: #000000;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #FFFFFF;
  --active-color: #2196F3;
  --clients-logo-color: #AFB1B8;
  --border-header-color: #ECECEC;
  --portfolio-cards-color: #EEEEEE;
  --box-shadow-color: #604545;
  --footer-contacts-color: #AB9898;
  --social-links-color: #AFB1B8;
  --placeholder-color: rgba(255, 255, 255, 0.6);
  --placeholder-user-message-color: rgba(117, 117, 117, 0.5);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --button-font: inherit;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-set, .modal-form-check-field, .footer-social-links, .social-link-instagram,
.social-link-twitter,
.social-link-facebook,
.social-link-linkedin, .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  color: var(--active-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.page-buttons {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 94px;
}

.logo {
  margin-right: 92px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo__header {
  color: var(--main-logo-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-align: left;
}

.logo__accent-part {
  color: var(--active-color);
}

@media screen and (max-width: 767px) {
  .logo-light {
    color: var(--accent-text-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .logo-link-bottom {
    display: inline-block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .logo-light {
    color: var(--accent-text-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .logo-link-bottom {
    display: inline-block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-light {
    color: var(--accent-text-color);
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-align: left;
    width: 145px;
  }
  .logo-link-bottom {
    display: inline-block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__container {
    position: relative;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--main-background-color);
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func);
    visibility: var(--transition-dur-and-func);
  }
  .mobile-menu__navigation {
    padding-top: 48px;
  }
  .mobile-menu__items:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__chapter {
    color: var(--title-text-color);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-align: center;
    text-decoration: none;
    transition: color var(--transition-dur-and-func);
  }
  .mobile-menu__chapter:hover,
.mobile-menu__chapter:focus {
    color: var(--active-color);
  }
  .mobile-menu__items-phone {
    margin-top: 306px;
    margin-bottom: 32px;
  }
  .mobile-menu__contacts-phone {
    color: var(--primary-text-color);
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-align: left;
    transition: color var(--transition-dur-and-func);
  }
  .mobile-menu__contacts-phone:hover,
.mobile-menu__contacts-phone:focus {
    color: var(--active-color);
  }
  .mobile-menu__items-mail {
    margin-bottom: 64px;
  }
  .mobile-menu__contacts-mail {
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;
    transition: color var(--transition-dur-and-func);
  }
  .mobile-menu__contacts-mail:hover,
.mobile-menu__contacts-mail:focus {
    color: var(--active-color);
  }
  .mobile-menu__networks-list {
    display: flex;
    justify-content: flex-start;
  }
  .mobile-menu__networks:not(:last-child) {
    padding-right: 10px;
    margin-bottom: 48px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu__networks:not(:first-child) {
    padding-left: 10px;
  }
  .mobile-menu__network-link {
    color: var(--active-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-align: center;
    transition: color var(--transition-dur-and-func);
  }
  .mobile-menu__network-link:hover,
.mobile-menu__network-link:focus {
    color: var(--active-color);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-button {
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 0;
    right: 15px;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: fill var(--transition-dur-and-func);
  }
  .mobile-menu__close-button:focus {
    fill: var(--active-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
  .contacts__list {
    transition: color var(--transition-dur-and-func);
  }
  .contacts__list :hover {
    color: var(--active-color);
  }
  .contacts__list :focus {
    color: var(--active-color);
  }
  .contacts__link-mail {
    display: block;
    color: var(--primary-text-color);
    fill: currentColor;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    padding-top: 21px;
  }
  .contacts__icon-mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  .contacts__link-phone {
    display: block;
    color: var(--primary-text-color);
    fill: currentColor;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    padding-top: 10px;
  }
  .contacts__icon-phone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .contacts__link-mail,
.contacts__link-phone {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-dur-and-func);
  }
  .contacts__link-phone {
    margin-left: 30px;
  }
  .contacts__list {
    display: flex;
    align-items: center;
  }
  .contacts__icon-mail {
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition: fill var(--transition-dur-and-func);
  }
  .contacts__icon-mail :hover, .contacts__icon-mail :focus {
    fill: var(--active-color);
  }
  .contacts__icon-phone {
    display: inline-block;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition: fill var(--transition-dur-and-func);
  }
  .contacts__icon-phone :hover, .contacts__icon-phone :focus {
    fill: var(--active-color);
  }
}
@media screen and (max-width: 767px) {
  .footer-list-connection {
    color: var(--accent-text-color);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: center;
    transition: color var(--transition-dur-and-func);
  }
  .footer-list-connection:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer-list-connection :hover, .footer-list-connection :focus {
    color: var(--active-color);
  }
  .link-connection-footer {
    color: var(--accent-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: center;
    text-decoration: none;
  }
  .footer-contacts {
    color: var(--footer-contacts-color);
  }
}
@media screen and (min-width: 768px) {
  .footer-list-connection {
    color: var(--accent-text-color);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: left;
    transition: color var(--transition-dur-and-func);
  }
  .footer-list-connection:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer-list-connection :hover, .footer-list-connection :focus {
    color: var(--active-color);
  }
  .link-connection-footer {
    color: var(--accent-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: left;
    text-decoration: none;
  }
  .footer-contacts {
    color: var(--footer-contacts-color);
  }
}
@media screen and (min-width: 1200px) {
  .footer-list-connection {
    color: var(--accent-text-color);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: left;
    transition: color var(--transition-dur-and-func);
  }
  .footer-list-connection:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-list-connection :hover, .footer-list-connection :focus {
    color: var(--active-color);
  }
  .link-connection-footer {
    color: var(--accent-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: left;
    text-decoration: none;
  }
  .footer-contacts {
    color: var(--footer-contacts-color);
  }
}
@media screen and (max-width: 767px) {
  .section-order__button {
    display: block;
    background-color: var(--btn-order-background-color);
    color: var(--accent-text-color);
    font-family: var(--primary-font);
    font-size: 16px;
    letter-spacing: 0.06em;
    font-weight: 700;
    line-height: 1.88;
    text-align: center;
    padding: 10px 24px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 50px;
    transition: background-color var(--transition-dur-and-func);
  }
  .section-order__button:hover, .section-order__button:focus {
    background-color: var(--btn-order-active-background-color);
  }
  .modal-button-submit {
    color: var(--main-background-color);
    background-color: var(--btn-order-background-color);
    width: 200px;
    height: 50px;
    align-self: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    transition: background-color var(--transition-dur-and-func);
    border: none;
  }
  .modal-button-submit:hover, .modal-button-submit:focus {
    background-color: var(--btn-order-active-background-color);
  }
}
@media screen and (min-width: 768px) {
  .section-order__button {
    display: block;
    background-color: var(--btn-order-background-color);
    color: var(--accent-text-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 24px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 50px;
    transition: background-color var(--transition-dur-and-func);
  }
  .section-order__button:hover, .section-order__button:focus {
    background-color: var(--btn-order-active-background-color);
  }
  .modal-button-submit {
    color: var(--main-background-color);
    background-color: var(--btn-order-background-color);
    width: 200px;
    height: 50px;
    align-self: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    transition: background-color var(--transition-dur-and-func);
    border: none;
  }
  .modal-button-submit:hover, .modal-button-submit:focus {
    background-color: var(--btn-order-active-background-color);
  }
}
@media screen and (min-width: 1200px) {
  .section-order__button {
    display: block;
    background-color: var(--btn-order-background-color);
    color: var(--accent-text-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 10px 32px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition-dur-and-func);
  }
  .section-order__button:hover, .section-order__button:focus {
    background-color: var(--btn-order-active-background-color);
  }
  .section-order__button .modal-button-submit {
    color: var(--main-background-color);
    background-color: var(--btn-order-background-color);
    width: 200px;
    height: 50px;
    align-self: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    transition: background-color var(--transition-dur-and-func);
    border: none;
  }
  .section-order__button .modal-button-submit:hover, .section-order__button .modal-button-submit:focus {
    background-color: var(--btn-order-active-background-color);
  }
}
@media screen and (max-width: 767px) {
  .footer-button {
    display: flex;
    color: var(--accent-text-color);
    background-color: var(--btn-order-background-color);
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: var(--active-color);
    transition: background-color var(--transition-dur-and-func);
    cursor: pointer;
  }
  .footer-button:hover, .footer-button:focus {
    background-color: var(--btn-order-active-background-color);
  }
  .icon-send {
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .footer-button {
    display: flex;
    color: var(--accent-text-color);
    background-color: var(--btn-order-background-color);
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: var(--active-color);
    transition: background-color var(--transition-dur-and-func);
    cursor: pointer;
  }
  .footer-button:hover, .footer-button:focus {
    background-color: var(--btn-order-active-background-color);
  }
  .icon-send {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-button {
    display: flex;
    color: var(--accent-text-color);
    background-color: var(--btn-order-background-color);
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: var(--active-color);
    transition: background-color var(--transition-dur-and-func);
    cursor: pointer;
  }
  .footer-button:hover, .footer-button:focus {
    background-color: var(--btn-order-active-background-color);
  }
  .icon-send {
    margin-left: 10px;
  }
}
.titles {
  color: var(--title-text-color);
}

.social-links {
  margin-top: 16px;
}

.social-link-instagram,
.social-link-twitter,
.social-link-facebook,
.social-link-linkedin {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--main-background-color);
  color: var(--social-links-color);
  transition: background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}

.social-link-item {
  margin-right: 10px;
}

.social-link-instagram:hover,
.social-link-twitter:hover,
.social-link-facebook:hover,
.social-link-linkedin:hover {
  background-color: var(--active-color);
}

.social-link-instagram:hover .icon-instagram,
.social-link-twitter:hover .icon-twitter,
.social-link-facebook:hover .icon-facebook,
.social-link-linkedin:hover .icon-linkedin {
  fill: var(--accent-text-color);
}

.social-link-instagram:focus,
.social-link-twitter:focus,
.social-link-facebook:focus,
.social-link-linkedin:focus {
  background-color: var(--active-color);
}

.social-link-instagram:focus .icon-instagram,
.social-link-twitter:focus .icon-twitter,
.social-link-facebook:focus .icon-facebook,
.social-link-linkedin:focus .icon-linked {
  fill: var(--active-color);
  fill: var(--accent-text-color);
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.footer-social-links {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--accent-text-color);
  transition: background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}
.footer-social-links:hover {
  background-color: var(--active-color);
}
.footer-social-links:hover .icon-instagram-footer, .footer-social-links:hover .icon-twitter-footer, .footer-social-links:hover .icon-facebook-footer, .footer-social-links:hover .icon-linkedin-footer {
  fill: var(--accent-text-color);
}
.footer-social-links:focus {
  background-color: var(--active-color);
}
.footer-social-links:focus .icon-instagram-footer, .footer-social-links:focus .icon-twitter-footer, .footer-social-links:focus .icon-facebook-footer, .footer-social-links:focus .icon-linkedin-footer {
  background-color: var(--active-color);
  fill: var(--accent-text-color);
}

.icon-instagram-footer,
.icon-twitter-footer,
.icon-facebook-footer,
.icon-linkedin-footer {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-background-color);
  z-index: 100;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: 609px;
    padding: 40px;
    background-color: var(--main-background-color);
  }
  .modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: var(--transition-dur-and-func);
  }
  .modal-close-button:hover, .modal-close-button:focus {
    fill: var(--active-color);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: 609px;
    padding: 40px;
    background-color: var(--main-background-color);
  }
  .modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: var(--transition-dur-and-func);
  }
  .modal-close-button:hover, .modal-close-button:focus {
    fill: var(--active-color);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--main-background-color);
  }
  .modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: var(--transition-dur-and-func);
  }
  .modal-close-button:hover, .modal-close-button:focus {
    fill: var(--active-color);
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-tittle {
  color: var(--title-text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-box {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  border-color: var(--active-color);
  outline: none;
}

.modal-form-description {
  display: block;
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 4px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-comments {
  margin-bottom: 20px;
}

.modal-form-input:focus + .icon-person {
  fill: var(--active-color);
}

.modal-form-input:focus + .icon-phone {
  fill: var(--active-color);
}

.modal-form-input:focus + .icon-email {
  fill: var(--active-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message:focus {
  border-color: var(--active-color);
  outline: none;
}
.modal-form-message::placeholder {
  color: var(--placeholder-user-message-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-check {
  position: absolute;
}

.box-check-agree {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 10px;
}
.modal-form-check:checked + .box-check-agree {
  background-color: var(--btn-order-background-color);
  fill: var(--accent-text-color);
  border: none;
}
.modal-form-check:focus + .box-check-agree {
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
}
.modal-form-check + .modal-form-check-field .box-check-agree {
  fill: var(--active-color);
  border: none;
}

.modal-form-check-field {
  margin-bottom: 30px;
  cursor: pointer;
}

.icon-check {
  width: 16px;
  height: 15px;
  fill: transparent;
}
.modal-form-check + .icon-check {
  background-color: var(--btn-order-background-color);
}

.icon-person,
.icon-phone,
.icon-email {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill var(--transition-dur-and-func);
}

.agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.conditions {
  color: var(--active-color);
}

@media screen and (max-width: 767px) {
  .agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .contacts {
    display: none;
  }
  .header__button {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .icon-menu {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .page-navigation {
    display: flex;
    align-items: baseline;
  }
  .navigation {
    display: flex;
  }
  .navigation__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    position: relative;
    transition: color var(--transition-dur-and-func);
  }
  .navigation__link .navigation__list :hover {
    color: var(--active-color);
  }
  .navigation__link .navigation__list :focus {
    color: var(--active-color);
  }
  .navigation__link.current::after {
    position: absolute;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--btn-order-background-color);
    bottom: -1px;
  }
  .navigation__list {
    transition: color var(--transition-dur-and-func);
  }
  .navigation__list:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__list :hover {
    color: var(--active-color);
  }
  .navigation__list :focus {
    color: var(--active-color);
  }
}
@media screen and (max-width: 767px) {
  .section-order {
    display: block;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-main_mobile.jpg");
    background-size: 480px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--section-order-background-color);
  }
  .section-order__title {
    color: var(--accent-text-color);
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-main_mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .section-order {
    display: block;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-main_tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--section-order-background-color);
  }
  .section-order__title {
    color: var(--accent-text-color);
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin-left: 204px;
    margin-right: 204px;
    margin-bottom: 30px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-main_tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .section-order {
    background-color: var(--secondary-background-color);
  }
  .section-order {
    display: block;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-main_desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--section-order-background-color);
  }
  .section-order__title {
    color: var(--accent-text-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 696px;
    margin-right: 278px;
    margin-left: 278px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section-order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-main_desktop@2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .section-benefits__list {
    display: block;
    width: 100%;
  }
  .section-benefits__antenna-box,
.section-benefits__clock-box,
.section-benefits__diagram-box,
.section-benefits__astronaut-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--team-background-color);
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  .section-benefits__icon-antenna,
.section-benefits__icon-clock,
.section-benefits__icon-diagram,
.section-benefits__icon-astronaut {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-benefits__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .section-benefits__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    text-align: left;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-benefits__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }
  .section-benefits__benefit-box {
    width: 354px;
    height: 224px;
  }
  .section-benefits__antenna-box,
.section-benefits__clock-box,
.section-benefits__diagram-box,
.section-benefits__astronaut-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--team-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 142px;
  }
  .section-benefits__icon-antenna,
.section-benefits__icon-clock,
.section-benefits__icon-diagram,
.section-benefits__icon-astronaut {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-benefits__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .section-benefits__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .section-benefits__list {
    display: flex;
    gap: 30px;
  }
  .section-benefits__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .section-benefits__benefit-box {
    width: 270px;
    height: 248px;
  }
  .section-benefits__antenna-box,
.section-benefits__clock-box,
.section-benefits__diagram-box,
.section-benefits__astronaut-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--team-background-color);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  .section-benefits__icon-antenna,
.section-benefits__icon-clock,
.section-benefits__icon-diagram,
.section-benefits__icon-astronaut {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-benefits__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .section-benefits__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .section-activity {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .section-activity {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-activity {
    display: flex;
    padding-bottom: 94px;
  }
  .types-activity {
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
  }
  .cards-activity {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
  }
  .activity {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    width: 366px;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 50px;
  }
  .overlay-activity {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    color: var(--accent-text-color);
    background-color: var(--overlay-activity-background-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    overflow: auto;
    top: 224px;
    height: 70px;
  }
}
.section-team {
  background-color: var(--team-background-color);
  padding-bottom: 94px;
}

@media screen and (max-width: 767px) {
  .section-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team-cards {
    display: block;
    width: 100%;
  }
  .team {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 30px;
  }
  .cards {
    display: block;
    width: 100%;
    background-color: var(--main-background-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .team-member {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
  }
  .team-profession {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    text-align: center;
  }
  .section-team__photo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .team-cards-secondary {
    padding-top: 30px;
    padding-bottom: 24px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 30px;
  }
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .cards {
    display: block;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--main-background-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .team-member {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
  }
  .team-profession {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    text-align: center;
  }
  .team-cards-secondary {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .cards {
    background-color: var(--main-background-color);
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 0;
  }
  .team {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    width: 264px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
  .team-cards {
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
  }
  .team-cards-secondary {
    padding: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .team-member {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
  }
  .team-profession {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .section-clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .regular-clients {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 30px;
  }
  .clients-logo-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
  }
  .clients-logo-list:not(last-child) {
    row-gap: 30px;
  }
  .clients-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clients-logo-color);
    border: 1px solid var(--clients-logo-color);
    border-radius: 4px;
    width: 210px;
    height: 92px;
    transition: color var(--transition-dur-and-func), border var(--transition-dur-and-func);
  }
  .clients-logo:hover, .clients-logo:focus {
    color: var(--active-color);
    border: 1px solid var(--active-color);
  }
  .logo-square,
.logo-sheets,
.logo-ellipse,
.logo-infinity,
.logo-stem,
.logo-cube {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) {
  .section-clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .regular-clients {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 30px;
  }
  .clients-logo-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
  }
  .clients-logo-list:not(last-child) {
    row-gap: 30px;
  }
  .clients-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clients-logo-color);
    border: 1px solid var(--clients-logo-color);
    border-radius: 4px;
    width: 226px;
    height: 92px;
    transition: color var(--transition-dur-and-func), border var(--transition-dur-and-func);
  }
  .clients-logo:hover, .clients-logo:focus {
    color: var(--active-color);
    border: 1px solid var(--active-color);
  }
  .logo-square,
.logo-sheets,
.logo-ellipse,
.logo-infinity,
.logo-stem,
.logo-cube {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .regular-clients {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .clients-logo-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .clients-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clients-logo-color);
    border: 1px solid var(--clients-logo-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: color var(--transition-dur-and-func), border var(--transition-dur-and-func);
  }
  .clients-logo:hover, .clients-logo:focus {
    color: var(--active-color);
    border: 1px solid var(--active-color);
  }
  .logo-square,
.logo-sheets,
.logo-ellipse,
.logo-infinity,
.logo-stem,
.logo-cube {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
@media screen and (max-width: 767px) {
  .page-footer {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
  .invitation {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-text-color);
    margin-bottom: 20px;
  }
  .footer-box {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .footer-box-address {
    text-align: center;
  }
  .footer-subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .subscription {
    color: var(--accent-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .footer-subscription-field {
    width: 100%;
  }
  .mail-form {
    display: block;
    width: 100%;
    color: var(--placeholder-color);
    background-color: var(--secondary-background-color);
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: border var(--trans);
  }
  .mail-form:hover, .mail-form:focus {
    border-color: var(--active-color);
  }
}
@media screen and (min-width: 768px) {
  .page-footer {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
  .general {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 60px;
    align-items: baseline;
  }
  .invitation {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-text-color);
    margin-bottom: 20px;
  }
  .footer-subscription {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
  .subscription {
    color: var(--accent-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .footer-subscription-field {
    width: 100%;
  }
  .mail-form {
    display: block;
    width: 100%;
    color: var(--placeholder-color);
    background-color: var(--secondary-background-color);
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: border var(--trans);
  }
  .mail-form:hover, .mail-form:focus {
    border-color: var(--active-color);
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
  .general {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer-box-address {
    margin-right: 0;
    margin-bottom: 0;
  }
  .invitation {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: var(--accent-text-color);
    margin-bottom: 20px;
  }
  .footer-subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .subscription {
    color: var(--accent-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .mail-form {
    color: var(--placeholder-color);
    background-color: var(--secondary-background-color);
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .footer-subscription-field {
    margin-right: 10px;
  }
}
.section-examples {
  padding-bottom: 94px;
}

.buttons-set {
  margin-bottom: 50px;
  gap: 8px;
}

.example-button {
  background-color: var(--team-background-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.example-button:hover, .example-button:focus {
  color: var(--accent-text-color);
  background-color: var(--btn-order-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.examples-set {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.example {
  background-color: var(--main-background-color);
  flex-basis: calc((100% - 60px) / 3);
}

.example-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--btn-order-background-color);
  color: var(--accent-text-color);
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  text-align: left;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}
.example-link:hover .overlay, .example-link:focus .overlay {
  transform: translateY(0%);
}

.example-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid var(--portfolio-cards-color);
}

.name-project {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.projects {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  text-align: left;
  color: var(--primary-text-color);
}

.example-link {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);
}
.example-link:hover, .example-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */