.page-header{
    padding-top: 16px;
    padding-bottom: 16px;
}

.page-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:767px) {
    .navigation{
        display: none;
    }

    .contacts{
        display: none;
    }   
    
    .header__button{
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;    
    }
    
    .icon-menu{
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width:768px){
    .header__button{
        display: none;
    }
}



// .page-header {
//     border-bottom: 1px solid var(--border-header-color);
//     max-width: 1600px;
//     margin-right: auto;
//     margin-left: auto;
// }

// .page-header__container {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }