.page-header {
    border-bottom: 1px solid var(--border-header-color);
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}