.portfolio-footer {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

