@media screen and (min-width:768px){
.contacts {
    display: block;  
}

.contacts__list{
transition: color var(--transition-dur-and-func);
}

.contacts__list{
& :hover {
color: var(--active-color);
}
        
& :focus {
color: var(--active-color);
}
}

.contacts__link-mail{
    display: block;
    color: var(--primary-text-color);
    fill: currentColor;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    padding-top: 21px;    
}

.contacts__icon-mail{    
    width: 14px;
    height: 10px;
    margin-right: 8px;
}

.contacts__link-phone{
    display: block;
    color: var(--primary-text-color);
    fill: currentColor;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    padding-top: 10px;
}

.contacts__icon-phone{
    width: 10px;
    height: 14px;
    margin-right: 8px;
}
}

@media screen and (min-width:1200px){
    .contacts {
        display: flex;
        justify-content: space-between;
        align-items: baseline;         
    }

    .contacts__link-mail,
    .contacts__link-phone{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-dur-and-func);
    }

    .contacts__link-phone{
        margin-left: 30px;
    }

    .contacts__list{
        display: flex;
    align-items: center;    
    }

    .contacts__icon-mail {
            display: inline-block;
            width: 16px;
            height: 12px;
            margin-right: 10px;
            transition: fill var(--transition-dur-and-func);
        
            & :hover,
            & :focus {
            fill: var(--active-color);
            }
        }
        
        .contacts__icon-phone {
            display: inline-block;
            width: 10px;
            height: 16px;
            margin-right: 10px;
            transition: fill var(--transition-dur-and-func);
        
            & :hover,
            & :focus {
            fill: var(--active-color);
            }
        }
    }

// .contacts__link {
//     display: flex;
//     align-items: center;
//     color: var(--primary-text-color);
//     fill: currentColor;
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-align: left;
//     text-decoration: none;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     transition: color var(--transition-dur-and-func);
// }

// .contacts__list {
//     display: flex;
//     align-items: center;
//     margin-right: 48px;

//     & :hover {
//         color: var(--active-color);
//     }
    
//     & :focus {
//         color: var(--active-color);
//     }
// }

// .contacts__icon-mail {
//     display: inline-block;
//     width: 16px;
//     height: 12px;
//     margin-right: 10px;
//     transition: fill var(--transition-dur-and-func);

//     & :hover,
//     & :focus {
//     fill: var(--active-color);
//     }
// }

// .contacts__icon-phone {
//     display: inline-block;
//     width: 10px;
//     height: 16px;
//     margin-right: 10px;
//     transition: fill var(--transition-dur-and-func);

//     & :hover,
//     & :focus {
//     fill: var(--active-color);
//     }
// }

@media screen and (max-width:767px){
    .footer-list-connection {
        color: var(--accent-text-color);
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        text-align: center;
        transition: color var(--transition-dur-and-func);
    
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    
        & :hover,
        & :focus {
        color: var(--active-color);
        }
    }

    .link-connection-footer {
        color: var(--accent-text-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        text-align: center;
        text-decoration: none;
    }
    
    .footer-contacts {
        color: var(--footer-contacts-color);
    }
}

@media screen and (min-width:768px){
    .footer-list-connection {
        color: var(--accent-text-color);
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        text-align: left;
        transition: color var(--transition-dur-and-func);
    
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    
        & :hover,
        & :focus {
        color: var(--active-color);
        }
    }

    .link-connection-footer {
        color: var(--accent-text-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        text-align: left;
        text-decoration: none;
    }
    
    .footer-contacts {
        color: var(--footer-contacts-color);
    }
}

@media screen and (min-width:1200px){
    .footer-list-connection {
        color: var(--accent-text-color);
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        text-align: left;
        transition: color var(--transition-dur-and-func);
    
        &:not(:last-child) {
            margin-bottom: 9px;
        }
    
        & :hover,
        & :focus {
        color: var(--active-color);
        }
    }
    
    .link-connection-footer {
        color: var(--accent-text-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        text-align: left;
        text-decoration: none;
    }
    
    .footer-contacts {
        color: var(--footer-contacts-color);
    }
}

