
@media screen and (max-width:767px){
.mobile-menu__container{
    position: relative;
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--main-background-color);
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func); visibility: var(--transition-dur-and-func);
}

.mobile-menu__navigation{
    padding-top: 48px;
}

.mobile-menu__items:not(:last-child){
margin-bottom: 32px;
}

.mobile-menu__chapter{
    color: var(--title-text-color);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-align: center;
    text-decoration: none;
    transition: color var(--transition-dur-and-func);
}

.mobile-menu__chapter:hover,
.mobile-menu__chapter:focus{
    color: var(--active-color);
}

.mobile-menu__items-phone{
    margin-top: 306px;
    margin-bottom: 32px;
}

.mobile-menu__contacts-phone{ 
    color: var(--primary-text-color);
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-align: left;

    transition: color var(--transition-dur-and-func);
}

.mobile-menu__contacts-phone:hover,
.mobile-menu__contacts-phone:focus{
    color: var(--active-color);
}

.mobile-menu__items-mail{
    margin-bottom: 64px;
}

.mobile-menu__contacts-mail{
    color: var(--primary-text-color);    
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;
    transition: color var(--transition-dur-and-func);
}

.mobile-menu__contacts-mail:hover,
.mobile-menu__contacts-mail:focus{
    color: var(--active-color);
}

.mobile-menu__networks-list{
    display: flex;
    justify-content: flex-start;
}

.mobile-menu__networks:not(:last-child){
    padding-right: 10px;
    margin-bottom: 48px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__networks:not(:first-child){
    padding-left: 10px;
}

.mobile-menu__network-link{
    color: var(--active-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-align: center;
    transition: color var(--transition-dur-and-func);
}

.mobile-menu__network-link:hover,
.mobile-menu__network-link:focus{
    color: var(--active-color);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__close-button{
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 0;
    right: 15px;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: fill var(--transition-dur-and-func);
}

.mobile-menu__close-button:focus{
    fill: var(--active-color);
}
}

@media screen and (min-width:768px){
    .mobile-menu{
        display: none;
    }
}