:root {
    --main-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --team-background-color: #F5F4FA;
    --btn-order-background-color: #2196F3;
    --btn-order-active-background-color: #188CE8;
    --section-order-background-color: #C4C4C4;
    --overlay-activity-background-color: rgba(47, 48, 58, 0.8);
    --overlay-background-color: rgba(0, 0, 0, 0.2);
    --main-logo-color: #000000;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #FFFFFF;
    --active-color: #2196F3;
    --clients-logo-color: #AFB1B8;
    --border-header-color: #ECECEC;
    --portfolio-cards-color: #EEEEEE;
    --box-shadow-color: #604545;
    --footer-contacts-color: #AB9898;
    --social-links-color: #AFB1B8;
    --placeholder-color: rgba(255, 255, 255, 0.6);
    --placeholder-user-message-color: rgba(117, 117, 117, 0.5);
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --button-font: inherit;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}